@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --orange: #ef9849;
  --dark: #34302d;
}

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.d-none {
  display: none !important;
}

.menuOverlay {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition-duration: 200ms;
}
.menuOverlay__actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.menuOverlay__actions button {
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 7rem;
  height: 10vh;
  background-color: var(--dark);
  border: 0.2rem var(--orange) solid;
  border-radius: 1rem;
  transition-duration: 50ms;
  cursor: pointer;
}
.menuOverlay__actions button:active {
  background-color: var(--orange);
  border: 0.2rem var(--dark) solid;
}
.menuOverlay__large > .menuOverlay__actions {
  width: 100%;
  height: 6rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.menuOverlay__large > .menuOverlay__actions > button {
  width: 15rem;
  height: 4rem;
}

.loadingIcon {
  max-width: 20vw;
  max-height: 20vw;
  margin: 0 auto 0 auto;
  transition-duration: 200ms;
}
.loadingIcon img {
  width: 10vw;
}
.loadingIcon figcaption {
  font-size: 3em;
}

.floatingLogo img {
  width: 100%;
  height: 100%;
}
.dev_info {
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 9999;
  color: white;
}
.axis {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 40;
}
.fullContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-duration: 200ms;
}

.popups {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
}
.popups__model {
  position: absolute;
  top: 50vh;
  z-index: 200;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem solid var(--orange);
  background-color: var(--dark);
  text-align: center;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.popup--in {
  opacity: 100%;
}
.popup--out {
  opacity: 0%;
  right: -75vw;
}
#y-axis {
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
}
.standBy {
  filter: grayscale(0.75) blur(0.1rem);
}
.item {
  position: absolute;
  height: 120vh;
  bottom: -5vw;
  left: -7vh;
}
.headerTop {
  position: fixed;
  display: flex;
  background-color: var(--dark);
  border-top: 0.25rem solid var(--orange);
  border-bottom: 0.25rem solid var(--orange);
  transition-duration: 200ms;
}
.headerTop__large,
.menuOverlay__large {
  top: 0 !important;
  left: 0 !important;
  flex-direction: row !important;

  justify-content: space-around;
  width: 100vw !important;
}
.item img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#item-1 {
  z-index: 30;
}
#item-2 {
  z-index: 20;
}
#item-3 {
  z-index: 10;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BIGGER THAN A PHONE */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 580px) {
  .layer-0,
  .layer-1,
  .layer-2,
  .layer-3,
  #background {
    transition-duration: 20ms;
  }
  .item {
    aspect-ratio: 16/9;
    height: 125%;
    top: -1.5%;
    left: -3.2%;
  }

  .layer-0 {
    background-image: url(./../maps/ctf_2fort/bg.png);
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    height: 120vh;
    width: 120vw;
    top: -10vh;
    left: -10vw;
    z-index: 5;
  }
  .menuOverlay {
    left: 35vw;
    width: 30vw;
    height: 100%;
  }
  .menuOverlay__large {
    top: 7vh !important;
    height: 6rem;
  }
  .headerTop {
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 35vw;
    width: 30vw;
  }
  .headerTop__large {
    min-height: 7vh !important ;
    max-height: 7vh !important ;
  }
  .headerTop--version {
    display: flex;
    gap: 1rem;
  }
  .floatingLogo {
    width: 5%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 120;
  }
  .letterbox {
    position: fixed;
    height: 100%;
    width: 35vw;
    top: 0;
    z-index: 110;
    background-color: rgba(20, 20, 20, 1);
    transition-duration: 200ms;
  }
  .letterbox1 {
    left: 0;
  }
  .letterbox2 {
    right: 0;
  }
  .popups__model {
    width: 25vw;
  }
  .letterbox1--away {
    left: -50vw !important;
  }
  .letterbox2--away {
    right: -50vw !important;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* PHONE SIZE */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 580px) {
  .layer-0,
  .layer-1,
  .layer-2,
  .layer-3 {
    transition-duration: 175ms;
  }
  .item {
    height: 120vh;
    left: -100vw;
    bottom: -20vh;
  }
  .layer-0 {
    background-image: url(./../maps/ctf_2fort/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    height: 120vh;
    width: 240vw;
    top: -10vh;
    left: -70vw;
    z-index: 5;
  }
  .menuOverlay {
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menuOverlay__large {
    flex-direction: row !important;
    top: 11vh !important;
    height: 10vh !important;
  }

  .menuOverlay__actions {
    margin-top: 25vh;
    height: 50vh;
  }
  .menuOverlay__large > .menuOverlay__actions {
    margin-top: 10vh;
    height: 10vh;
  }
  .menuOverlay__actions button {
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 40vw;
    height: 15vh;
    background-color: var(--dark);
    border: 0.2rem var(--orange) solid;
    border-radius: 1rem;
    transition-duration: 50ms;
    cursor: pointer;
  }
  .menuOverlay__actions button:active {
    background-color: var(--orange);
    border: 0.2rem var(--dark) solid;
  }
  .menuOverlay__large > .menuOverlay__actions {
    margin-top: 0;
    padding: 0.25rem;
    left: 0;
    top: calc(10vh + 0.5rem);
    position: fixed;
    width: 25vw;
    height: calc(100vh - 10vh);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menuOverlay__large > .menuOverlay__actions > button {
    /* transform: rotate(-90deg); */
    width: 20vw;
    height: 20wh;
    font-size: 0.5rem;
  }
  .headerTop {
    padding: 0 2rem 0 2rem;
    flex-direction: row;
    align-items: center;
    top: 12vh;
    left: 0;
    width: 100vw;
  }
  .headerTop__large {
    min-height: 10vh !important ;
    max-height: 10vh !important ;
  }
  .headerTop > * {
    width: 50%;
  }
  .floatingLogo {
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 120;
  }
  .letterbox {
    position: fixed;
    width: 100vw;
    height: 12vh;
    left: 0;
    z-index: 110;
    background-color: rgba(20, 20, 20, 1);
    transition-duration: 200ms;
  }
  .letterbox1 {
    top: 0;
  }
  .letterbox2 {
    bottom: 0;
  }
  .popups__model {
    width: 80%;
  }
  .letterbox1--away {
    top: -25vh !important;
  }
  .letterbox2--away {
    bottom: -25vh !important;
  }
}
