@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.d-none {
  display: none !important;
}

main {
  position: absolute;
  z-index: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.loadingIcon {
  max-width: 20vw;
  max-height: 20vw;
  margin: 0 auto 0 auto;
  transition-duration: 200ms;
}
.loadingIcon img {
  width: 10vw;
}
.loadingIcon figcaption {
  font-size: 3em;
}

.floatingLogo img {
  width: 100%;
  height: 100%;
}
.dev_info {
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 200;
  color: white;
}
.axis {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100;
}
.fullContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.letterbox {
  height: 100%;
  width: 5%;
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 200;
}
.borderL {
  left: 0;
}
.borderR {
  right: 0;
}

#x-axis {
  bottom: -50%;
  left: 50%;
  top: -50%;
  width: 1px;
}

#y-axis {
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
}

.item {
  position: absolute;
  height: 120vh;
  bottom: -5vw;
  left: -7vh;
}

.item img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#item-1 {
  z-index: 30;
}
#item-2 {
  z-index: 20;
}
#item-3 {
  z-index: 10;
}
@media screen and (min-width: 580px) {
  .layer-0,
  .layer-1,
  .layer-2,
  .layer-3,
  #background {
    transition-duration: 20ms;
  }
  .item {
    height: 120vh;
    bottom: -5vw;
    left: -7vh;
  }
  .layer-0 {
    background-image: url(./../maps/ctf_2fort/bg.png);
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    height: 120vh;
    width: 120vw;
    top: -10vh;
    left: -10vw;
    z-index: 5;
  }
  .floatingLogo {
    width: 5%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 500;
  }
}
@media screen and (max-width: 580px) {
  .layer-0,
  .layer-1,
  .layer-2,
  .layer-3 {
    transition-duration: 175ms;
  }
  .item {
    height: 120vh;
    left: -100vw;
    bottom: -25vh;
  }
  .layer-0 {
    background-image: url(./../maps/ctf_2fort/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    height: 120vh;
    width: 214vw;
    top: -10vh;
    left: -57vw;
    z-index: 5;
  }
  .floatingLogo {
    width: 20%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 500;
  }
}
