html,
body {
  background-color: white;
}
.ball {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;

  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  position: fixed;
  right: 80%;
  top: 80%;

  margin-left: -50px;
  margin-top: -50px;

  -webkit-transition: 0.4s opacity ease-in;
  -moz-transition: 0.4s opacity ease-in;
  transition: 0.4s opacity ease-in;
}

.ball img {
  width: 140%;
  position: relative;
  left: -20px;
  height: auto;
  display: block;
}

/* CODEPEN */

.axis {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 100;
}

.planet {
  background-size: cover;
  left: 50%;
  position: absolute;
  top: 50%;
}

#background {
  background-image: url("http://www.alienresearchcorp.com/space/hd-wallpapers/amazing/img/l/moment-in-space-cvi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -20%;
  left: -10%;
  position: absolute;
  right: -10%;
  top: -20%;
}

#x-axis {
  bottom: -50%;
  left: 50%;
  top: -50%;
  width: 1px;
}

#y-axis {
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
}

#planet-1 {
  height: 150px;
  width: 150px;
  background-color: blue;
  z-index: 20;
}

#planet-2 {
  height: 200px;
  width: 200px;
  background-color: red;
  z-index: 10;
}
